@media only screen and (max-device-width: 900px) {

    .chat-body{
        min-width: 75%;
        .chat-header{
            display: flex;
            align-content: center;
            justify-content: space-between;
            margin-bottom: 30px;
            div{
                display: flex;
                h1{
                    margin-right: 10px;
                    font-size: 17px;
                }
                span{
                    font-size: 13px;
                    padding: 2px 5px;
                    border-radius: 5px;
                }
            }
            .markAsRead{
                font-size: 13px;
            }
            .markAsRead:hover{
                cursor: pointer;
            }
        }
    }
    .chat-container{
        position: relative;
        display: flex;
        margin-bottom: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        align-content: flex-start;
        img{
            // min-height: 100%;
            margin-top: 3px;
            max-width: 11%;
            margin-right: 15px;
        }
        .chat-container-d1{
           max-width: fit;
        }
        .chat-container-d2{
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            font-size: 13px;
            div{
                margin: 2px 0;
            }
            .user{
                color: black;
            }
            .time{
            }
            .action{
            }
            .dot{
                margin-left: 5px;
                display: inline-block;
                min-width: 10px;
                min-height: 10px;
                border-radius: 50%;
            }
            a:hover{
                cursor: pointer;
            }
            .message{
                margin-top: 10px;
                font-size: 13px;
                padding: 10px 20px;
                border-radius: 5px;
                width: 100%;
            }
    
        }
        .chess-img{
            img{
                min-width: 30px;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-device-width: 500px) {

    main{
        display: block;
    }
    .chat-body{
        min-width: 100%;
    }
}